aiofiles==23.2.1
aiohttp==3.9.3
datasets==2.18.0
ftfy==6.2.0
huggingface-hub==0.22.0
kenlm==0.2.0
lxml==5.1.0
nltk==3.8.1
numpy==1.26.4
protobuf==5.26.0
sentencepiece==0.2.0
torch==2.2.1
tqdm==4.66.2
transformers==4.39.1
