aiofiles==23.2.1
aiohttp==3.9.3
black==24.3.0
datasets==2.18.0
docformatter==1.7.5
fasttext==0.9.2
ftfy==6.2.0
huggingface-hub==0.22.0
isort==5.13.2
kenlm==0.2.0
lxml==5.1.0
msgpack==1.0.8
nltk==3.8.1
numpy==1.26.4
pandas==2.2.1
protobuf==5.26.0
pynvim==0.5.0
pytest==8.1.1
sentencepiece==0.2.0
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
torch==2.2.1
tqdm==4.66.2
transformers==4.39.1
